{
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "all" }],
    "no-unused-expressions": "error",
    "no-unreachable": "error",
    "no-undef": "error",
    "no-var": "error",
    "prefer-const": "error"
  }
} 